<section class="container">
  <a href="/" class ="">
    <div class = "blog_title"><span class="title">{{title}}</span><span>{{user.user_name}} {{format_date createdAt}} </span></div>
    <div class = "blog_body">{{post}}</div>
  </a>
</section>