<article class="container">
   <a href="/dashboard/blog/{{id}}">
   <div class = "blog_title"><span class="title">{{title}}</span><span>{{format_date createdAt}} </span>
   </div>
    <div class = "blog_body format_comment"><span >{{post}}</span></div>
  </a>
</article>