<article class="container">
   <a href="/dashboard/comment/{{id}}">
    <div class = "blog_body format_comment"><span >{{comment}}</span><span>{{format_date createdAt}}</span></div> 
  </a>
</article>