<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech-Blog</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script defer src ="/js/index.js"></script>
  <script defer src="/js/login.js"></script>
</head>

<body>
  <header>
    <h1>Tech-Blog</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    <a href="#">Dashboard</a>
    {{#if loggedIn}}
    <a href="/" id="logout">Logout</a>
    {{else}}
    <a href="/user">Login</a>
    {{/if}}
  </nav>
  <main>
    <div class = "body_container">
      {{{body}}}
    </div>
  </main>
    {{#if loggedIn}}
  <script src="/js/logout.js"></script>
    {{/if}}
  <footer></footer>
</body>
</html>