
<form id="loginForm" >
  <h2 class="login_title">Sign In</h2>
  <div class="login_body">
  <div class="login_input">
    <label for="userName" class="form-label">User Name</label>
    <input type="text" class="form-control" id="userName" required>
  </div>
  <div class="login_input">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" minlength="8" required>
  </div>
  <div class="login_buttons">
  <button type="submit" class="login_button" id="submitLogin">Submit</button>
  <span class="login_anchor login_button" id ="signUpLogin" >Sign up</span>
  </div>
  </div>
</form>