:root {
  --headerFooter: #3d5852;
  --navBar: #86938f;
  --cardHeaders: #5e877f;
  --body: #737373;
  --writing: #f0f8ff;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--body);
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

header {
  padding: 40px;
  text-align: center;
  background: var(--headerFooter);
  color: var(--light);
}

nav {
  display: flex;
  align-items: flex-end;
  background-color: var(--navBar);
}

nav a {
  color: var(--writing);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--body);
}

footer{
  height: 50px;
  /* background-color: var(--headerFooter); */
}
