:root {
	--headerFooter: #3d5852;
	--navBar: #86938f;
	--cardHeaders: #5e877f;
	--body: #737373;
	--writing: #f0f8ff;
}
* {
	box-sizing: border-box;
}

/************** Main Header **************/
header {
	padding: 20px 85px;
	font-size: xxx-large;
	background: var(--headerFooter);
	color: var(--writing);
}

nav {
	color: var(--writing);
	display: flex;
	font-size: x-large;
	padding-left: 80px;
	align-items: flex-end;
	background-color: var(--navBar);
}

nav a {	
	padding: 14px 20px;
	text-decoration: none;
	text-align: center;
}

a {
	color: var(--dark);
	text-decoration: none;
}

a:visited {
	color: inherit;
}

nav a:hover {
	color: black;
	background-color: var(--body);
}

/************** Main information area **************/
body {
	font-family: Arial;
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: var(--body);
}

/************* Blog layout **************/
.body_container {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}

article {
	width: 90%;
	border: solid 2px black;
}

.blog_title {
	width: 100%;
	display: flex;
	font-weight: bolder;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px;
	font-size: large;
	border-bottom: solid 2px black;
	background-color: var(--cardHeaders);
	color: var(--writing);
}
.title {
	font-size: xx-large;
}

.blog_body {
	width: 100%;
	padding: 20px;
	font-size: x-large;
	background-color: var(--navBar);
	color: var(--writing);
}

.comments_title {
	width: 90%;
	font-size: xxx-large;
	font-weight: bold;
	border: solid 2px black;
}

.format_comment{
	display: flex;
	justify-content: space-between;
}
#addComment{
	width: 90%;
	border: solid 2px black;
	display: flex;
	justify-content: center;
}
#addComment:hover {
	color: black;
	background-color: var(--body);
}
/************** footer **************/
footer {
	height: 50px;
	/* background-color: var(--headerFooter); */
}

/************** Login Page **************/
form {
	margin-top: 40px;
	border: solid 2px black;
	background-color: var(--cardHeaders);
	border-radius: 5px;
}

.login_title {
	padding: 20px;
	font-size: xx-large;
	font-weight: bolder;
}
.login_body{
	border-top: solid 2px black;
	background-color: var(--writing);
	padding: 30px;
	width: 100%;
	border-radius: 0px 0px 5px 5px;
}
.login_input{
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin: 10px;
	font-size: x-large;
}
.login_buttons{
	margin: 20px 20px 0 10px;
}
.login_button{
	font-size: x-large;
	padding: 5px 10px;
	border-radius: 5px;
}

.login_anchor{
	margin-left: 20px;
	padding: 6px 10px;
	background-color: #efefef;
	border: solid 2px black;
}